In [3]:
# importing pandas module
import pandas as pd

DogCat = {
    'Dogs':['Corgie', 'Poodle', 'Grey Hound'],
    'Cats':['Russian Blue', 'Tuxedo', 'American Shorthair']
}

pets = {
    'Cats':['Scottish Fold', 'Persian', 'Siamese'],
    'Dogs':['Wolf Hound', 'Pug', 'Terrier'],
    'Other':['Goldfish', 'Turtle', 'Hamster']
}

pets1_df = pd.DataFrame(DogCat)
pets2_df = pd.DataFrame(pets)

# concat dataframes
pd.concat([pets1_df, pets2_df], axis=0, ignore_index=True)

         Dogs                Cats     Other
0      Corgie        Russian Blue       NaN
1      Poodle              Tuxedo       NaN
2  Grey Hound  American Shorthair       NaN
3  Wolf Hound       Scottish Fold  Goldfish
4         Pug             Persian    Turtle
5     Terrier             Siamese   Hamster